<div class="container">
    <div class="container">
        <div class="form-box">
          <div class="form">
            <span class="title">Log In</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
              <div class="form-container">
                <input type="email" class="input" placeholder="Email" [(ngModel)]="loginObj.email">
                <input type="password" class="input" placeholder="Password" [(ngModel)]="loginObj.password">
              </div>
              <button (click)="login()">login</button>
            </div>
          </div>
          <div class="form-section">
            <p>Have an account? <a routerLink="/signUp">Sign up</a> </p>
          </div>
        </div>
      </div>
        
</div>